/* setting.module.css */
.container {
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container > div {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.container label {
  margin-right: 1rem;
  padding-right: 1rem;
  width: 30%;
}

.container input[type="text"] {
  width: 60%;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgb(30 41 59);
}

.container input:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(145, 182, 230);
}

.container select {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(30 41 59);
}

.container input[type="color"] {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: transparent;
}

.colorsGrid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.container p {
  margin-left: 1rem;
}

.input:focus {
  outline: none;
}
