@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'body-font';
  src: url('/fonts/Freesentation-4Regular.ttf');
}

body {
  font-family: 'body-font', sans-serif;
}
