@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'body-font';
  src: url('/fonts/Menlo-Regular.ttf') format('woff2'),
    url('/fonts/Menlo-Regular.ttf') format('woff'),
    url('/fonts/Menlo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jet-Brains';
  src: url('/fonts/JetBrainsMono-Medium.ttf') format('woff2'),
    url('/fonts/JetBrainsMono-Medium.ttf') format('woff'),
    url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --addLineColor: #2f502f;
  --removeLineColor: #644444;
  --pointingColor: #646682;
}

body {
  font-family: body-font, IBM-Medium, sans-serif;
  color: #eee;
}

/* snippetOutput 관련 CSS 속성 */

pre {
  overflow-x: scroll;
  padding: 1rem 1rem 1rem 0rem;
  min-width: 390px;
}

figure code {
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-variant-ligatures: contextual;
}

textarea {
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  font-variant-ligatures: none;
}

span[data-line] {
  font-weight: 500;
}

pre::-webkit-scrollbar {
  display: none;
}

figcaption {
  font-size: 1.2rem;
  font-weight: 500;
}

code {
  display: block;
}

.lineWrapper {
  display: flex;
}

.lineNumber {
  display: inline-block;
  text-align: right;
  margin-right: 1rem;
  width: 3rem;
}

.lineWrapper > span[data-line] {
  display: flex;
  flex-grow: 1;
}

.output::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(30, 41, 59);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6b8ce3, #a1c4fd);
  border-radius: 10px;
  border: 3px solid rgb(30, 41, 59);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4a6fc1, #7eaffc);
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
