@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "body-font";
  src: url("/fonts/Freesentation-4Regular.ttf") format("woff2"),
    url("/fonts/Freesentation-4Regular.ttf") format("woff"),
    url("/fonts/Freesentation-4Regular.ttf") format("truetype");
}

:root {
  --addLineColor: #2f502f;
  --removedLineNumber: #644444;
  --pointingLineColor: #646682;
}

body {
  font-family: body-font, IBM-Medium, sans-serif;
  color: #eee;
}

/* snippetOutput 관련 CSS 속성 */

span[data-line] {
  font-weight: 500;
}

pre::-webkit-scrollbar {
  display: none;
}

figcaption {
  font-size: 1.2rem;
  font-weight: 500;
}

code {
  display: block;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(30, 41, 59);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6b8ce3, #a1c4fd);
  border-radius: 10px;
  border: 3px solid rgb(30, 41, 59);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4a6fc1, #7eaffc);
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
