@font-face {
  font-family: "Jet-Brains";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("woff2"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("woff"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.snippetTextAreaWrapper {
  display: flex;
  background-color: #252525;
  border-radius: 12px;
  padding: 1rem 0rem;
}

.snippetInput {
  width: 100%;
  height: auto;
  font-weight: 500;
  color: #eee;
  background-color: #252525;
  resize: none;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  overflow: hidden;
  border-radius: 12px;
}

.codeBlock {
  display: flex;
  border-radius: 12px;
  padding: 1rem 1rem 1rem 0rem;
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: contextual;
  overflow: auto;
}

.snippetOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
}

.snippetOutput > figure code {
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: contextual;
}

.snippetOutput span[data-highlighted-line-id="add"] {
  background-color: var(--addLineColor);
}

.snippetOutput span[data-highlighted-line-id="remove"] {
  background-color: var(--removedLineNumber);
}

.snippetOutput span[data-highlighted-line-id="pointing"] {
  background-color: var(--pointingLineColor);
}

.lineNumber {
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
  width: 3rem;
  color: gray;
}

.loading {
  background-color: transparent;
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
}
