.snippetTextAreaWrapper {
  display: flex;
  width: 90%;
  min-width: 390px;
  background-color: #252525;
  border-radius: 12px;
  padding: 1rem 0rem;
}

.snippetInput {
  width: 100%;
  min-width: 390px;
  height: auto;
  font-weight: 500;
  color: #eee;
  background-color: #252525;
  resize: none;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  width: 90%;
  min-width: 390px;
  border-radius: 12px;
}

.snippetOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.snippetOutput pre {
  border-radius: 12px;
}

.snippetOutput span[data-highlighted-line-id="add"] {
  background-color: var(--addLineColor);
}

.snippetOutput span[data-highlighted-line-id="remove"] {
  background-color: var(--removedLineNumber);
}

.snippetOutput span[data-highlighted-line-id="pointing"] {
  background-color: var(--pointingLineColor);
}

.loading {
  background-color: transparent;
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
}
