@font-face {
  font-family: "Jet-Brains";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("woff2"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("woff"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.snippetTextAreaWrapper {
  display: flex;
  background-color: #252525;
  border-radius: 12px;
  padding: 1rem 0rem;
}

.snippetInput {
  width: 100%;
  height: auto;
  font-weight: 500;
  color: #eee;
  background-color: #252525;
  resize: none;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  overflow: hidden;
  border-radius: 12px;
}

.codeBlock {
  border-radius: 12px;
  padding: 0.5rem 1rem 1rem 0rem;
  overflow: auto;
}

.codeBlockContent {
  display: flex;
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: none;
}

/* CodeBlockHeader */
.codeBlockHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 0.5rem 0.5rem 2rem;
  color: gray;
  font-style: italic;
}

.codeBlockHeader > input {
  background-color: transparent;
  font-style: inherit;
  max-width: 80%;
}

.snippetOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.snippetOutput > figure code {
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: none;
}

.snippetOutput span[data-highlighted-line-id="add"] {
  background-color: var(--firstUnderLineColor);
}

.snippetOutput span[data-highlighted-line-id="remove"] {
  background-color: var(--secondUnderLineNumbers);
}

.snippetOutput span[data-highlighted-line-id="pointing"] {
  background-color: var(--thirdUnderLineColor);
}

.lineNumber {
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
  width: 3rem;
  color: gray;
}

.loading {
  background-color: transparent;
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 0.5s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codeContentArea {
  position: relative;
  width: 100%;
}

.invisibleTextAreaWrapper {
  position: absolute;
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: contextual;
  width: 100%;
}

.invisibleTextAreaWrapper > textarea {
  width: 100%;
  color: transparent;
  background: transparent;
  caret-color: gray;
  resize: none;
  overflow: hidden;
}

.invisibleTextAreaWrapper > textarea:focus {
  outline: none;
}
