@font-face {
  font-family: "Jet-Brains";
  src: url("/fonts/JetBrainsMono-Medium.ttf") format("woff2"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("woff"),
    url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.snippetTextAreaWrapper {
  display: flex;
  background-color: #252525;
  border-radius: 12px;
  padding: 1rem 0rem;
}

.snippetInput {
  width: 100%;
  height: auto;
  font-weight: 500;
  color: #eee;
  background-color: #252525;
  resize: none;
  border-radius: 12px;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.codeBlock {
  border-radius: 12px;
  padding: 0.5rem 1rem 1rem 0rem;
  overflow: auto;
  min-width: 32rem;
}

.codeBlockContent {
  display: flex;
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: none;
  border-radius: 12px;
}

/* codeBlockHeader */

.codeBlockHeader {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding: 0.3rem 0.5rem 0.5rem 1rem;
  color: gray;
  align-items: start;
}

.codeBlockTitleWrapper {
  flex-grow: 1;
  position: relative;
  white-space: pre-wrap;
}

.invisibleTitleTextArea {
  background-color: transparent;
  color: transparent;
  width: 100%;
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  caret-color: gray;
}

.invisibleTitleTextArea:focus {
  outline: none;
}

.codeBlockIconWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.codeBlockHeaderIcon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.codeBlockHeaderIcon:nth-child(1) {
  background-color: #ff605c;
}

.codeBlockHeaderIcon:nth-child(2) {
  background-color: #ffbd44;
}

.codeBlockHeaderIcon:nth-child(3) {
  background-color: #00ca56;
}

.snippetOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.snippetOutput > figure code {
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: none;
}

.snippetOutput span[data-highlighted-line-id="add"] {
  background-color: var(--firstUnderLineColor);
}

.snippetOutput span[data-highlighted-line-id="remove"] {
  background-color: var(--secondUnderLineColor);
}

.snippetOutput span[data-highlighted-line-id="pointing"] {
  background-color: var(--thirdUnderLineColor);
}

.lineNumber {
  display: inline-block;
  text-align: right;
  padding-right: 1rem;
  width: 3rem;
  color: gray;
}

.loading {
  background-color: transparent;
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 0.5s ease-in-out infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codeContentArea {
  position: relative;
  width: 100%;
}

.invisibleTextAreaWrapper {
  position: absolute;
  font-family: Jet-Brains, body-font, Menlo, SFMono-Regular, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-variant-ligatures: contextual;
  width: 100%;
}

.invisibleTextAreaWrapper > textarea {
  width: 100%;
  color: transparent;
  background: transparent;
  caret-color: gray;
  resize: none;
  overflow: hidden;
}

.invisibleTextAreaWrapper > textarea:focus {
  outline: none;
}

.absoluteLoading {
  height: 100%;
  width: 100%;
  z-index: 999999;
  position: absolute;
  background: inherit;
  padding-top: 3rem;
}
