.snippetInput {
  width: 90%;
  max-width: 600px;
  resize: none;
  height: 300px;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  width: 90%;
  max-width: 800px;
}

.snippetOutput {
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.snippetOutput pre {
  border-radius: 8px;
}

.snippetOutput span[data-highlighted-line-id='add'] {
  background-color: var(--addLineColor);
}

.snippetOutput span[data-highlighted-line-id='remove'] {
  background-color: var(--removeLineColor);
}

.snippetOutput span[data-highlighted-line-id='pointing'] {
  background-color: var(--pointingColor);
}
