.snippetInput {
  width: 90%;
  min-width: 390px;
  resize: none;
  min-height: 300px;
  height: auto;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 4px;
  background-color: #252525;
  font-weight: 500;
  color: #eee;
}

.snippetInput:focus {
  outline: none;
}

.snippetOutputWrapper {
  width: 90%;
  min-width: 390px;
}

.snippetOutput {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.snippetOutput span[data-highlighted-line-id="add"] {
  background-color: var(--addLineColor);
}

.snippetOutput span[data-highlighted-line-id="remove"] {
  background-color: var(--removeLineColor);
}

.snippetOutput span[data-highlighted-line-id="pointing"] {
  background-color: var(--pointingColor);
}

.loading {
  background-color: transparent;
  height: 296px;
  display: flex;
  justify-content: center;
  align-items: center;
}
